:root {
   --bg-light: #f2cc8f;
   --text-light: #3d405b;
   --text-secondary-light: #777777;
   --border-light: #e07a5f;
   --highlight-light: #81b29a;

   --accent-light: #ff6f61;
   --accent: #04395e;
   --accent-dark: #031d44;
   --gray: #7f7f7f;

   --gray-light: #d9d9d9;
   --gray-dark: #7f7f7f;
}

html.dark {
   /* Tema Oscuro */
   background-color: #1d3557;
   color: #f4f1de;
   --bg-dark: #1d3557;
   --text-dark: #f4f1de;
   --text-secondary-dark: #e9d8a6;
   --border-dark: #621708;
   --highlight-dark: #f6aa1c;

   --accent: #86b2f4;
   --accent-dark: #031d44;

   --gray: #e1e1e1;
   --gray-light: #b0b0b0;
   --gray-dark:#4a4a4a ;
}

@font-face {
   font-family: 'Atkinson';
   src: url('/MyPortfolio/fonts/atkinson-regular.woff') format('woff');
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Atkinson';
   src: url('/MyPortfolio/fonts/atkinson-bold.woff') format('woff');
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}

body {
   font-family: 'Atkinson', sans-serif;
   margin: 0;
   padding: 0;
   text-align: left;
   background: linear-gradient(var(--gray-light)) no-repeat;
   background-size: 100% 600px;
   word-wrap: break-word;
   overflow-wrap: break-word;
   color: rgb(var(--gray-dark));
   font-size: 18px;
   line-height: 1.7;
   flex-direction: column;
   height: 100dvh;
   min-height: 100vh;
   display:flex;
}

main {
   width: 720px;
   max-width: calc(100% - 2em);
   margin: auto;
   padding: 1em 1em;
   flex:1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0 0 0.5rem 0;
   color: rgb(var(--gray-dark));
   line-height: 1.2;
}

h1 {
   font-size: 3.052em;
}

h2 {
   font-size: 2.441em;
}

h3 {
   font-size: 1.953em;
}

h4 {
   font-size: 1.563em;
}

h5 {
   font-size: 1.25em;
}

strong,
b {
   font-weight: 700;
}

a {
   color: var(--accent);
}

a:hover {
   color: var(--accent-light);
}

p {
   margin-bottom: 1em;
}

.prose p {
   margin-bottom: 2em;
}

textarea {
   width: 100%;
   font-size: 16px;
}

input {
   font-size: 16px;
}

table {
   width: 100%;
}

img {
   max-width: 100%;
   height: auto;
   border-radius: 8px;
}

code {
   padding: 2px 5px;
   background-color: rgb(var(--gray-light));
   border-radius: 2px;
}

pre {
   padding: 1.5em;
   border-radius: 8px;
}

pre>code {
   all: unset;
}

blockquote {
   border-left: 4px solid var(--accent);
   padding: 0 0 0 20px;
   margin: 0px;
   font-size: 1.333em;
}

hr {
   border: none;
   border-top: 1px solid rgb(var(--gray-light));
}

href {
   text-decoration: none;
}

@media (max-width: 720px) {
   body {
      font-size: 15px;
   }

   main {
      padding: 1em;
   }
}

.sr-only {
   border: 0;
   padding: 0;
   margin: 0;
   position: absolute !important;
   height: 1px;
   width: 1px;
   overflow: hidden;
   clip: rect(1px 1px 1px 1px);
   clip: rect(1px, 1px, 1px, 1px);
   clip-path: inset(50%);
   white-space: nowrap;
}

/* Estilos del header */
header {
   margin: 0;
   padding: 0 1em;
   background: var(--bg-light);
   color: var(--text-light);
}

html.dark header {
   background: var(--accent-dark);
   color: var(--text-dark);
}

h2 {
   margin: 0;
   font-size: 1em;
}

h2 a,
h2 a.active {
   text-decoration: none;
}

a {
   display: inline-block;
   text-decoration: none;
}
a.active {
   font-weight: bolder;
   text-decoration: none;
}

nav {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

nav a {
   padding: 1em 0.5em;
   color: var(--black);
   border-bottom: 2px solid transparent;
   text-decoration: none;
}

nav a.active {
   text-decoration: none;
   border-bottom-color: var(--accent);
}

.social-links,
.social-links a {
   display: flex;
}

@media (max-width: 720px) {
   .social-links {
      display: none;
   }
}

/* Estilos del footer */
footer {
   padding: 1em 1em 1em 1em;
   background: var(--bg-light);
   color: var(--text-light);
   text-align: center;
   bottom: 0;
}

html.dark footer {
   background: var(--accent-dark);
   color: var(--text-dark);
}

.hero-image {
   width: 100%;
   max-width: 800px;
   height: auto;
   margin: 0 auto;
}

.myPic {
   position: relative;
   width: 100%;
   max-width: 300px; 
   overflow: hidden;
 }
 
 .myPic img {
   width: 100%;
   height: auto;
   object-fit: contain; 
   object-position: center;
 }
 

 @media (max-width: 768px) {
   .myPic {
     aspect-ratio: auto; 
   }
 }
 

