
---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import NetworkHubComponent from '../components/NetworkHub.astro';
---
<!doctype html>
<html lang="en">
	<head>
		<BaseHead title="Zeida | Network Hub" description="Connect with me on social networks!" />
	</head>
	<body>
		<Header />
		<main>
			<NetworkHubComponent /> 
		</main>
		<Footer />
	</body>
</html>
