---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import SocialLinks from './SocialLinks.astro';
import ThemeToggleIcon from './ThemeToggleIcon.astro';
---

<header>
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/MyPortfolio/">Home</HeaderLink>
			<HeaderLink href="/MyPortfolio/blog">Blog</HeaderLink>
			<HeaderLink href="/MyPortfolio/about-me">About me</HeaderLink>
		</div>
		<ThemeToggleIcon />
	</nav>
</header>
