---
import PortfolioContent from "./PortfolioContent.astro";
import Profile from "./Profile.astro";
---
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<section class="home-container">
  <div class="home-item-col-1">
    <Profile />
  </div>
</section>


