---
import SocialLinks from "./SocialLinks.astro";
---

<section>
  <ul>
    <li>Skills</li>
    <li>My projects</li>
    <li>Professional experience</li>
    <li>Education</li>
    <li>Certificates</li>
  </ul>
</section>
