---
import SocialLinks from "./SocialLinks.astro";
heroImage: '/MyPortfolio/blog-placeholder-3.jpg';
import { Image } from 'astro:assets';
---

<main>
  <div class="flex justify-center items-center ">
  <Image src="/MyPortfolio/images/MyPic.png" alt="Girl in a jacket" width="150" height="100" loading="eager" />
</div>
  <div class="typewriter">
    <h1>Hi world, I'm Zeida!</h1>
  </div>
  
  <h2>Software Developer</h2>

  <p>
    I'm experienced in back-end (Java, Spring Boot) and front-end (Angular,
    React). Passionate about innovation and building solutions that make an
    impact. I love working in teams where creativity and collaboration thrive.
  </p>
</main>

<div class="social-links"><SocialLinks /></div>

<style>

.typewriter h1 {
  color: #f09606;
  font-family: monospace;
  overflow: hidden; 
  border-right: .15em solid orange; 
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .15em;
  animation: 
    typing 1.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(245, 154, 9) }
}
</style>