---
import SocialLinks from "./SocialLinks.astro";
---

<main>
  <h1>🧑‍🚀 Hi world, I'm Zeida!</h1>
  <h2>Software Developer</h2>

  <p>
    I'm experienced in back-end (Java, Spring Boot) and front-end (Angular,
    React). Passionate about innovation and building solutions that make an
    impact. I love working in teams where creativity and collaboration thrive."
  </p>
</main>

<div class="social-links"><SocialLinks /></div>

